@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-size: 20px;
  @apply w-full h-full text-neutral;
}

.link-primary-bg {
  @apply bg-primary hover:bg-inherit text-neutral-content hover:text-primary;
}

.prose {
  font-size: 18px;
  p {
    text-align: justify;
    hyphens: auto;
  }

  a {
    @apply hover:bg-primary hover:text-neutral-content link link-primary;
  }

  .footnotes {
    p {
      margin: 0;
    }
  }
}
