@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-size: 20px;
  @apply text-neutral h-full w-full;
}

.link-primary-bg {
  @apply hover:text-primary hover:bg-inherit bg-primary text-neutral-content;
}

.prose {
  font-size: 18px;
  p {
    text-align: justify;
    hyphens: auto;
  }

  a {
    @apply link link-primary hover:text-neutral-content hover:bg-primary;
  }
}
